<div *ngIf="listStyle === 'GRID'; then grid; else table"></div>
<ng-template #grid>
  <div *ngIf="isPatients(); else userCards" class="grid grid-cols-5 gap-3">
    <app-patient-card
      *ngFor="let patient of getPatients()"
      [patient]="patient"
    />
  </div>
  <ng-template #userCards>
    <div class="grid grid-cols-5 gap-3">
      <app-user-card *ngFor="let user of getUsers()" [user]="user" />
    </div>
  </ng-template>
</ng-template>
<ng-template #table>
  <div class="flex flex-col overflow-hidden border rounded-md border-slate-300">
    <app-patient-table-header />
    <app-patient-table-row
      *ngFor="let patient of getPatients()"
      [patient]="patient"
    />
  </div>
</ng-template>
