<aside
  class="relative flex flex-col justify-between h-full py-8 transition-all duration-700"
  [ngClass]="collapsed ? 'w-20' : 'w-56'"
>
  <section class="mx-auto">Logo</section>
  <section class="overflow-hidden">
    <ul>
      <li *ngFor="let option of options; index as idx">
        <app-nav-button
          *ngIf="checkRestrictions(option.restriction)"
          [icon]="option.icon"
          [text]="option.text"
          [selected]="option.selected"
          [collapsed]="collapsed"
          (click)="select(idx)"
          [routerLink]="option.link"
        />
      </li>
    </ul>
  </section>
  <section>
    <button
      class="flex items-center justify-center w-full gap-2 py-2 mx-auto transition-colors text-slate-400 focus:bg-slate-700 focus:text-slate-50 hover:bg-slate-700 hover:text-slate-50 focus:outline-none"
    >
      <ng-icon name="ionArrowBackCircleOutline" class="text-xl" />
      Sair
    </button>
  </section>

  <button
    class="absolute top-0 right-0 z-40 flex items-center justify-center w-8 transition-colors translate-x-1/2 translate-y-10 rounded-full bg-slate-800 aspect-square hover:bg-slate-700"
    (click)="collapsed = !collapsed"
  >
    <ng-icon
      [name]="collapsed ? 'ionArrowForwardOutline' : 'ionArrowBackOutline'"
    />
  </button>
</aside>
