<nav
  class="relative z-20 flex items-center justify-between p-4 text-slate-800 shadow-lg bg-slate-50 h-20"
>
  <div class="flex flex-grow items-center justify-center">
    <h1 class="text-3xl font-bold">Dashboard</h1>
  </div>
  <div
    class="w-2/12 flex gap-2 justify-between items-center px-4 border-slate-300 border-l"
    aria-haspopup="true"
  >
    <ng-icon name="ionPersonCircle" class="text-5xl text-slate-400" />
    <div class="w-3/5 flex flex-col leading-3">
      <p class="font-semibold truncate">
        {{ user.fullName }}
      </p>
      <p class="text-xs text-slate-400 truncate">
        {{ user.email }}
      </p>
    </div>
    <app-dropdown />
  </div>
</nav>
