<div class="flex h-[calc(100%-80px)] bg-slate-50 text-slate-800">
  <div class="flex-grow p-4 overflow-y-auto">
    <div class="container py-4 pr-2 m-auto text-slate-800 pl-14">
      <form [formGroup]="formMedicaments" (ngSubmit)="registerMedicament()">
        <h3 class="my-2 text-xl font-bold">Cadastro de medicamentos</h3>

        <div class="gap-2 md:flex">
          <div class="w-8/12 input-wrapper">
            <label for="medicamentsName">Nome do medicamento</label>
            <input
              type="text"
              class="input-field"
              name="medicamentsName"
              id="medicamentsName"
              formControlName="medicamentsName"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('medicamentsName')?.errors?.['required'] && formMedicaments.get('medicamentsName')?.touched"
            >
              <p>Por favor insira o nome do medicamento!</p>
            </div>
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('medicamentsName')?.errors?.['minlength'] && formMedicaments.get('medicamentsName')?.touched"
            >
              <p>Seu nome deve possuir no mínimo 5 caracteres!</p>
            </div>
          </div>
          <div class="w-2/12 input-wrapper">
            <label for="date">Data</label>
            <input
              type="date"
              class="input-field"
              name="date"
              id="date"
              formControlName="date"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('date')?.errors?.['required'] && formMedicaments.get('date')?.touched"
            >
              <p>Por favor insira a data!</p>
            </div>
          </div>
          <div class="w-2/12 mr-5 input-wrapper">
            <label for="time">Horário</label>
            <input
              type="time"
              class="input-field"
              name="time"
              id="time"
              formControlName="time"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('time')?.errors?.['required'] && formMedicaments.get('time')?.touched"
            >
              <p>Por favor insira o horário!</p>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-3/12 input-wrapper">
            <label for="type">Tipo</label>
            <select
              class="input-field"
              name="type"
              id="type"
              formControlName="type"
            >
              <option disabled selected></option>
              <option value="CAPSULE">Cápsula</option>
              <option value="PILL">Comprimido</option>
              <option value="LIQUID">Líquido</option>
              <option value="CREAM">Creme</option>
              <option value="GEL">Gel</option>
              <option value="INHALATION">Inalação</option>
              <option value="INJECTION">Injeção</option>
              <option value="SPRAY">Spray</option>
            </select>
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('type')?.errors?.['required'] && formMedicaments.get('type')?.touched"
            >
              <p>Por favor insira o tipo de medicamento!</p>
            </div>
          </div>
          <div class="w-3/12 input-wrapper">
            <label for="amount">Quantidade</label>
            <input
              type="number"
              class="input-field"
              name="amount"
              id="amount"
              formControlName="amount"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('amount')?.errors?.['required'] && formMedicaments.get('amount')?.touched"
            >
              <p>Por favor insira a quantidade do medicamento!</p>
            </div>
          </div>
          <div class="w-3/12 input-wrapper">
            <label for="unit">Unidade</label>
            <select
              class="input-field"
              name="unit"
              id="unit"
              class="input-field"
              formControlName="unit"
            >
              <option disabled selected></option>
              <option value="MG">Miligrama</option>
              <option value="MCG">Micrograma</option>
              <option value="G">Grama</option>
              <option value="ML">Mililitro</option>
              <option value="PERCENTAGE">Porcento</option>
            </select>
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('unit')?.errors?.['required'] && formMedicaments.get('unit')?.touched"
            >
              <p>Por favor insira a unidade!</p>
            </div>
          </div>
          <div class="w-3/12 mr-5 input-wrapper">
            <label for="status">Status</label>
            <div class="flex input-field">
              <div>
                <input
                  type="checkbox"
                  class="mr-2"
                  checked="true"
                  formControlName="status"
                />
              </div>
              <div class="mr-3">
                <label for="checkbox">Ativo</label>
              </div>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-full mr-5 input-wrapper">
            <label for="observations">Observações</label>
            <textarea
              class="input-field"
              name="observations"
              id="observations"
              rows="3"
              formControlName="observations"
            ></textarea>
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('observations')?.errors?.['required'] && formMedicaments.get('observations')?.touched"
            >
              <p>Por favor insira as observações!</p>
            </div>
            <div
              class="font-semibold text-red-500"
              *ngIf="formMedicaments.get('observations')?.errors?.['minlength'] && formMedicaments.get('observations')?.touched"
            >
              <p>As observações devem possuir no mínimo 10 caracteres!</p>
            </div>
          </div>
        </div>

        <app-form-buttons
          (handleEdit)="
            isCreating ? (formMedicaments = initMedicamentsForm()) : {}
          "
          [isCreating]="isCreating"
        />
      </form>
    </div>
  </div>
</div>
