<div class="relative cursor-text group" (click)="selectInput()">
  <input
    class="w-0 py-2 pl-10 pr-4 transition-all duration-700 bg-transparent border rounded-full group-hover:border-slate-400 focus:w-60 border-slate-200 focus:outline-none focus:border-slate-400 text-slate-800"
    type="search"
    name="search"
    id="search"
    placeholder="Pesquisar"
    [(ngModel)]="input"
    (input)="onInput()"
    #searchInput
  />
  <ng-icon
    name="ionSearch"
    class="absolute text-xl -translate-y-1/2 left-3 top-1/2 text-slate-300"
  />
</div>
