<div class="flex h-[calc(100%-80px)] bg-slate-50 text-slate-800">
  <div class="flex-grow p-4 overflow-y-auto">
    <div class="container py-4 pr-2 m-auto text-slate-800 pl-14">
      <form [formGroup]="formPatientRegister" (ngSubmit)="registerPatient()">
        <h3 class="my-2 text-xl font-bold">Cadastro de paciente</h3>

        <h3 class="mb-3 my-3 font-semibold">Informações pessoais</h3>

        <div class="gap-2 md:flex">
          <div class="w-6/12 input-wrapper">
            <label for="fullName">Nome completo</label>
            <input
              type="text"
              class="input-field"
              name="fullName"
              id="fullName"
              formControlName="fullName"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('fullName')?.errors?.['required'] && formPatientRegister.get('fullName')?.touched"
            >
              <p>Por favor insira seu nome completo!</p>
            </div>
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('fullName')?.errors?.['minlength'] && formPatientRegister.get('fullName')?.touched"
            >
              <p>Seu nome deve possuir no mínimo 8 caracteres!</p>
            </div>
          </div>

          <div class="w-3/12 input-wrapper">
            <label for="genre">Gênero</label>
            <select
              class="input-field"
              name="genre"
              id="genre"
              formControlName="genre"
            >
              <option disabled selected></option>
              <option value="CISGENDER">Cisgenero</option>
              <option value="TRASNGENDER">Transgênero</option>
              <option value="NONBINARY">Não-binário</option>
            </select>
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('genre')?.errors?.['required'] && formPatientRegister.get('genre')?.touched"
            >
              <p>Por favor insira seu genero!</p>
            </div>
          </div>

          <div class="w-3/12 mr-5 input-wrapper">
            <label for="birthday">Data de nascimento</label>
            <input
              type="date"
              class="input-field"
              name="birthday"
              id="birthday"
              formControlName="birthday"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('birthday')?.errors?.['required'] && formPatientRegister.get('birthday')?.touched"
            >
              <p>Por favor insira sua data de nascimento!</p>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-3/12 input-wrapper">
            <label for="cpf">CPF</label>
            <input
              type="text"
              class="input-field"
              name="cpf"
              id="cpf"
              formControlName="cpf"
              placeholder="000.000.000-00"
              mask="000.000.000-00"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('cpf')?.errors?.['required'] && formPatientRegister.get('cpf')?.touched"
            >
              <p>Por favor insira seu CPF!</p>
            </div>
          </div>

          <div class="w-3/12 input-wrapper">
            <label for="rg">RG</label>
            <input
              type="text"
              class="input-field"
              name="rg"
              id="rg"
              formControlName="rg"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('rg')?.errors?.['required'] && formPatientRegister.get('rg')?.touched"
            >
              <p>Por favor insira seu RG!</p>
            </div>
          </div>

          <div class="w-3/12 input-wrapper">
            <label for="civilStatus">Estado civil</label>
            <select
              class="input-field"
              name="civilStatus"
              id="civilStatus"
              class="input-field"
              formControlName="civilStatus"
            >
              <option disabled selected></option>
              <option value="SINGLE">Solteiro(a)</option>
              <option value="MARRIED">Casado(a)</option>
              <option value="SEPARATED">Separado(a)</option>
              <option value="DIVORCED">Divorciado(a)</option>
              <option value="WIDOWER">Viúvo(a)</option>
            </select>
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('civilStatus')?.errors?.['required'] && formPatientRegister.get('civilStatus')?.touched"
            >
              <p>Por favor insira seu estado civil!</p>
            </div>
          </div>

          <div class="w-3/12 mr-5 input-wrapper">
            <label for="placeOfBirth">Naturalidade</label>
            <input
              type="text"
              class="input-field"
              name="placeOfBirth"
              id="placeOfBirth"
              formControlName="placeOfBirth"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('placeOfBirth')?.errors?.['required'] && formPatientRegister.get('placeOfBirth')?.touched"
            >
              <p>Por favor insira sua naturalidade!</p>
            </div>
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('placeOfBirth')?.errors?.['minlength'] && formPatientRegister.get('placeOfBirth')?.touched"
            >
              <p>Sua naturalidade deve possuir no mínimo 8 caracteres!</p>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-4/12 input-wrapper">
            <label for="phone">Telefone</label>
            <input
              type="text"
              class="input-field"
              name="phone"
              id="phone"
              formControlName="phone"
              placeholder="(99) 9 9999-9999"
              mask="(00) 0 0000-0000"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('phone')?.errors?.['required'] && formPatientRegister.get('phone')?.touched"
            >
              <p>Por favor insira seu telefone!</p>
            </div>
          </div>

          <div class="w-4/12 input-wrapper">
            <label for="email">E-mail</label>
            <input
              type="text"
              class="input-field"
              name="email"
              id="email"
              formControlName="email"
              placeholder="example@gmail.com"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('email')?.errors?.['required'] && formPatientRegister.get('email')?.touched"
            >
              <p>Por favor insira seu e-mail!</p>
            </div>
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('email')?.errors?.['email'] && formPatientRegister.get('email')?.touched"
            >
              <p>Por favor insira um e-mail válido!</p>
            </div>
          </div>

          <div class="w-4/12 mr-5 input-wrapper">
            <label for="status">Status</label>
            <div class="flex input-field">
              <div>
                <input
                  type="checkbox"
                  class="mr-2"
                  checked="true"
                  formControlName="status"
                />
              </div>
              <div class="mr-3">
                <label for="checkbox">Ativo</label>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mb-3 my-3 font-semibold">Informações de saúde</h3>

        <div class="gap-2 md:flex">
          <div class="w-4/12 input-wrapper">
            <label for="emergencyContact">Contato de Emergência</label>
            <input
              type="text"
              class="input-field"
              name="emergencyContact"
              id="emergencyContact"
              formControlName="emergencyContact"
              placeholder="(99) 9 9999-9999"
              mask="(00) 0 0000-0000"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('emergencyContact')?.errors?.['required'] && formPatientRegister.get('emergencyContact')?.touched"
            >
              <p>Por favor insira seu contato de emergência!</p>
            </div>
          </div>

          <div class="w-4/12 input-wrapper">
            <label for="allergyList">Lista de Alergias</label>
            <input
              type="text"
              class="input-field"
              name="allergyList"
              id="allergyList"
              formControlName="allergyList"
            />
          </div>

          <div class="w-4/12 mr-5 input-wrapper">
            <label for="specificCareList">Lista de Cuidados</label>
            <input
              type="text"
              class="input-field"
              name="specificCareList"
              id="specificCareList"
              formControlName="specificCareList"
            />
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-4/12 input-wrapper">
            <label for="healthInsurance">Convênio</label>
            <input
              type="text"
              class="input-field"
              name="healthInsurance"
              id="healthInsurance"
              formControlName="healthInsurance"
            />
          </div>

          <div class="w-4/12 input-wrapper">
            <label for="healthInsuranceNumber">Numero do convênio</label>
            <input
              type="text"
              class="input-field"
              name="healthInsuranceNumber"
              id="healthInsuranceNumber"
              formControlName="healthInsuranceNumber"
            />
          </div>

          <div class="w-4/12 mr-5 input-wrapper">
            <label for="healthInsuranceValidity">Validade do convênio</label>
            <input
              type="month"
              class="input-field"
              name="healthInsuranceValidity"
              id="healthInsuranceValidity"
              formControlName="healthInsuranceValidity"
            />
          </div>
        </div>

        <h3 class="mb-3 my-3 font-semibold">Informações de endereço</h3>

        <div class="gap-2 md:flex">
          <div class="w-6/12 input-wrapper">
            <label for="publicPlace">Logradouro</label>
            <input
              type="text"
              class="input-field"
              name="publicPlace"
              id="publicPlace"
              formControlName="publicPlace"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('publicPlace')?.errors?.['required'] && formPatientRegister.get('publicPlace')?.touched"
            >
              <p>Por favor insira seu logradouro!</p>
            </div>
          </div>

          <div class="w-2/12 input-wrapper">
            <label for="number">Numero</label>
            <input
              type="text"
              class="input-field"
              name="number"
              id="number"
              formControlName="number"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('number')?.errors?.['required'] && formPatientRegister.get('number')?.touched"
            >
              <p>Por favor insira o número da sua residência!</p>
            </div>
          </div>

          <div class="w-2/12 input-wrapper">
            <label for="neighborhood">Bairro</label>
            <input
              type="text"
              class="input-field"
              name="neighborhood"
              id="neighborhood"
              formControlName="neighborhood"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('neighborhood')?.errors?.['required'] && formPatientRegister.get('neighborhood')?.touched"
            >
              <p>Por favor insira seu bairro!</p>
            </div>
          </div>

          <div class="w-2/12 mr-5 input-wrapper">
            <label for="city">Cidade</label>
            <input
              type="text"
              class="input-field"
              name="city"
              id="city"
              formControlName="city"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('city')?.errors?.['required'] && formPatientRegister.get('city')?.touched"
            >
              <p>Por favor insira sua cidade!</p>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-3/12 input-wrapper">
            <label for="state">Estado</label>
            <input
              type="text"
              class="input-field"
              name="state"
              id="state"
              formControlName="state"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('state')?.errors?.['required'] && formPatientRegister.get('state')?.touched"
            >
              <p>Por favor insira seu estado!</p>
            </div>
          </div>

          <div class="w-3/12 input-wrapper">
            <label for="cep">CEP</label>
            <input
              type="text"
              class="input-field"
              name="cep"
              id="cep"
              formControlName="cep"
              mask="00000-000"
              (blur)="checkCep()"
            />
            <div
              class="font-semibold text-red-500"
              *ngIf="formPatientRegister.get('cep')?.errors?.['required'] && formPatientRegister.get('cep')?.touched"
            >
              <p>Por favor insira seu cep!</p>
            </div>
          </div>

          <div class="w-3/12 input-wrapper">
            <label for="complement">Complemento</label>
            <input
              type="text"
              class="input-field"
              name="complement"
              id="complement"
              formControlName="complement"
            />
          </div>

          <div class="w-3/12 mr-5 input-wrapper">
            <label for="referencePoint">Ponto de Referência</label>
            <input
              type="text"
              class="input-field"
              name="referencePoint"
              id="referencePoint"
              formControlName="referencePoint"
            />
          </div>
        </div>
        <app-form-buttons />
      </form>
    </div>
  </div>
</div>
