<!-- Toolbar -->
<nav class="bg-white-800 text-black p-4 flex justify-between items-center rounded-md shadow-lg">
    <div class="container flex justify-center items-center">
      <!-- Título central -->
      <h1 class="text-2xl font-bold">Dashboard</h1>
    </div>
    <div>
      <!-- Dropdown -->
      <div class="relative ml-3 group inline-block text-left">
        <button type="button" class="flex w-full outline-none focus:outline-none py-2 rounded-md font-medium text-black hover:bg-blue-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
          <!-- Ícone do usuário -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>        
          <!-- Nome de usuário -->
          <p class="me-3 mb-auto mt-auto align-self-center">{{ user.name }}</p>
          <p class="me-3 mb-auto mt-auto align-self-center">{{ user.email }}</p>
        </button>
    
    
        <!-- Conteudo do dropdown -->
        <app-dropdown></app-dropdown>
    
      </div>
    </div>
  </nav>
