<div class="flex h-[calc(100%-64px)] text-slate-800">
  <div class="flex-grow p-4 overflow-y-auto">
    <section class="p-3">
      <h2 class="text-xl font-bold">
        {{ medicalRecord?.patient?.fullName }}
      </h2>
      <div class="columns-2">
        <p>
          <span class="font-semibold">Convênio:</span>
          {{ medicalRecord?.patient?.healthInsurance ?? "Nenhum" }}
        </p>
        <p>
          <span class="font-semibold">Alergias:</span>
          {{ medicalRecord?.patient?.allergyList ?? "Nenhum" }}
        </p>
        <p>
          <span class="font-semibold">Telefone de contato:</span>
          {{ medicalRecord?.patient?.phone }}
        </p>
        <p>
          <span class="font-semibold">Cuidados especiais:</span>
          {{ medicalRecord?.patient?.specificCareList ?? "Nenhum" }}
        </p>
      </div>
    </section>
    <section class="flex flex-col gap-3 p-3">
      <app-accordion
        [headerTitle]="medicalRecord?.queries?.length + ' Consultas'"
        headerIcon="ionDocuments"
        iconSize="lg"
        [bordered]="true"
      >
        <app-accordion *ngFor="let query of medicalRecord?.queries">
          <p customHeader class="font-semibold">
            {{ query.consultationDate }} {{ query.consultationTime }}
            <span class="font-medium">
              - {{ query.reasonForConsultation }}</span
            >
          </p>
          <div class="p-2 font-semibold rounded-md bg-slate-600 text-slate-50">
            <p>
              Dosagem e precauções:
              <span class="font-medium">{{ query.dosageAndRecautions }}</span>
            </p>
            <p>
              Descrição:
              <span class="font-medium">{{ query.problemDescription }}</span>
            </p>
          </div>
        </app-accordion>
      </app-accordion>
      <app-accordion
        [headerTitle]="medicalRecord?.exams?.length + ' Exames'"
        headerIcon="ionDocuments"
        iconSize="lg"
        [bordered]="true"
      >
        <app-accordion *ngFor="let exam of medicalRecord?.exams">
          <p customHeader class="font-semibold">
            {{ exam.examDate }} {{ exam.examHour }}
            <span class="font-medium"> - {{ exam.examName }}</span>
          </p>
          <div class="p-2 font-semibold rounded-md bg-slate-600 text-slate-50">
            <p>
              Tipo de exame:
              <span class="font-medium">{{ exam.examType }}</span>
            </p>
            <p>
              Laboratório:
              <span class="font-medium">{{ exam.laboratory }}</span>
            </p>
            <p>
              Resultados:
              <span class="font-medium">{{ exam.results }}</span>
            </p>
          </div>
        </app-accordion>
      </app-accordion>
      <app-accordion
        [headerTitle]="medicalRecord?.exercises?.length + ' Exercícios'"
        headerIcon="ionDocuments"
        iconSize="lg"
        [bordered]="true"
      >
        <app-accordion *ngFor="let exercise of medicalRecord?.exercises">
          <p customHeader class="font-semibold">
            {{ exercise.date }} {{ exercise.time }}
            <span class="font-medium"> - {{ exercise.name }}</span>
          </p>
          <div class="p-2 font-semibold rounded-md bg-slate-600 text-slate-50">
            <p>
              Tipo de exercício:
              <span class="font-medium">{{ exercise.type }}</span>
            </p>
            <p>
              Quantidade semanal:
              <span class="font-medium">{{ exercise.weeklyAmount }}</span>
            </p>
            <p>
              Descrição:
              <span class="font-medium">{{ exercise.description }}</span>
            </p>
          </div>
        </app-accordion>
      </app-accordion>
      <app-accordion
        [headerTitle]="medicalRecord?.diets?.length + ' Dietas'"
        headerIcon="ionDocuments"
        iconSize="lg"
        [bordered]="true"
      >
        <app-accordion *ngFor="let diet of medicalRecord?.diets">
          <p customHeader class="font-semibold">
            {{ diet.dietDate }} {{ diet.dietTime }}
            <span class="font-medium"> - {{ diet.dietName }}</span>
          </p>
          <div class="p-2 font-semibold rounded-md bg-slate-600 text-slate-50">
            <p>
              Tipo de dieta:
              <span class="font-medium">{{ diet.type }}</span>
            </p>
            <p>
              Descrição
              <span class="font-medium">{{ diet.description }}</span>
            </p>
          </div>
        </app-accordion>
      </app-accordion>
    </section>
  </div>
</div>
