<div *ngIf="listStyle === 'GRID'; then grid; else table"></div>
<ng-template #grid>
  <div *ngIf="isPatients(); else userCards" class="grid grid-cols-5 gap-3">
    <app-patient-card
      *ngFor="let patient of getPatients()"
      [patient]="patient"
    />
  </div>
  <ng-template #userCards>
    <div class="grid grid-cols-5 gap-3">
      <app-user-card *ngFor="let user of getUsers()" [user]="user" />
    </div>
  </ng-template>
</ng-template>
<ng-template #table>
  <div class="flex flex-col overflow-hidden border rounded-md border-slate-300">
    <div class="flex items-center font-medium text-slate-800">
      <div class="w-10 py-2 aspect-square bg-slate-300"></div>
      <div class="flex-grow pl-3">Nome</div>
      <div class="w-1/12 pl-3">Idade</div>
      <div class="w-2/12 pl-3">Contato</div>
      <div class="w-3/12 pl-3">Plano de Saúde</div>
      <div class="w-1/12 px-3"></div>
    </div>
    <app-stats-table-row
      *ngFor="let patient of getPatients()"
      [patient]="patient"
    />
  </div>
</ng-template>
