<div class="flex h-[calc(100%-80px)] bg-slate-50 text-slate-800">
  <div class="flex-grow p-4 overflow-y-auto">
    <div class="container py-3 pr-2 m-auto text-slate-800 pl-14">
      <form [formGroup]="formsExamRegister" (ngSubmit)="registerExam()">
        <h3 class="my-1 text-xl font-bold">Cadastro de exames</h3>

        <div class="gap-2 md:flex">
          <div class="w-6/12 input-wrapper">
            <label for="examName">Nome do Exame</label>
            <input
              type="text"
              class="input-field"
              name="examName"
              id="examName"
              formControlName="examName"
            />
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('examName')?.errors?.['required'] && formsExamRegister.get('examName')?.touched"
            >
              <p>Por favor insira o nome do exame!</p>
            </div>
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('examName')?.errors?.['minlength'] && formsExamRegister.get('examName')?.touched"
            >
              <p>O nome do exame deve possuir no mínimo 8 caracteres!</p>
            </div>
          </div>

          <div class="w-6/12 mr-5 input-wrapper">
            <label for="examType">Tipo do Exame</label>
            <input
              type="text"
              class="input-field"
              name="examType"
              id="examType"
              formControlName="examType"
            />
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('examType')?.errors?.['required'] && formsExamRegister.get('examType')?.touched"
            >
              <p>Por favor insira o tipo do exame!</p>
            </div>
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('examType')?.errors?.['minlength'] && formsExamRegister.get('examType')?.touched"
            >
              <p>O tipo do exame deve possuir no mínimo 4 caracteres!</p>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-3/12 input-wrapper">
            <label for="examDate">Data do Exame</label>
            <input
              type="date"
              class="input-field"
              name="examDate"
              id="examDate"
              formControlName="examDate"
              placeholder="dd/mm/aaaa"
            />
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('examDate')?.errors?.['required'] && formsExamRegister.get('examDate')?.touched"
            >
              <p>Por favor insira a data do exame!</p>
            </div>
          </div>

          <div class="w-3/12 input-wrapper">
            <label for="examHour">Hora do Exame</label>
            <input
              type="time"
              class="input-field"
              name="examHour"
              id="examHour"
              formControlName="examHour"
              placeholder="hh:mm"
            />
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('examHour')?.errors?.['required'] && formsExamRegister.get('examHour')?.touched"
            >
              <p>Por favor insira a hora do exame!</p>
            </div>
          </div>

          <div class="w-6/12 mr-5 input-wrapper">
            <label for="laboratory">Laboratório</label>
            <input
              type="text"
              class="input-field"
              name="laboratory"
              id="laboratory"
              formControlName="laboratory"
            />
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('laboratory')?.errors?.['required'] && formsExamRegister.get('laboratory')?.touched"
            >
              <p>Por favor insira o laboratório!</p>
            </div>
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('laboratory')?.errors?.['minlength'] && formsExamRegister.get('laboratory')?.touched"
            >
              <p>O laboratório deve possuir no mínimo 4 caracteres!</p>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-6/12 input-wrapper">
            <label for="documentUrl">URL do documento</label>
            <input
              type="url"
              class="input-field"
              name="documentUrl"
              id="documentUrl"
              formControlName="documentUrl"
            />
          </div>
          <div class="w-4/12 input-wrapper">
            <label for="patientId">Paciente</label>
            <select
              class="input-field"
              name="patientId"
              id="patientId"
              formControlName="patientId"
            >
              <option
                *ngFor="let optionPatient of patients"
                [value]="optionPatient.id"
              >
                {{ optionPatient.fullName }}
              </option>
            </select>
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('patientId')?.errors?.['required'] && formsExamRegister.get('patientId')?.touched"
            >
              <p>Por favor insira o paciente!</p>
            </div>
          </div>
          <div class="w-2/12 mr-5 input-wrapper">
            <label for="status">Status</label>
            <div class="flex input-field">
              <div>
                <input
                  type="checkbox"
                  class="mr-2"
                  checked="true"
                  formControlName="status"
                />
              </div>
              <div class="mr-3">
                <label for="checkbox">Ativo</label>
              </div>
            </div>
          </div>
        </div>

        <div class="gap-2 md:flex">
          <div class="w-full mr-5 input-wrapper">
            <label for="results">Resultados</label>
            <textarea
              class="input-field"
              name="results"
              id="results"
              rows="5"
              formControlName="results"
            ></textarea>
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('results')?.errors?.['required'] && formsExamRegister.get('results')?.touched"
            >
              <p>Por favor insira o resultado!</p>
            </div>
            <div
              class="text-red-500 font-semibold"
              *ngIf="formsExamRegister.get('results')?.errors?.['minlength'] && formsExamRegister.get('results')?.touched"
            >
              <p>O resultado deve possuir no mínimo 16 caracteres!</p>
            </div>
          </div>
        </div>
        <app-form-buttons (handleEdit)="formsExamRegister = initExamForm()" />
      </form>
    </div>
  </div>
</div>
