<div class="flex items-center text-slate-500 border-t border-slate-300">
  <div
    class="w-10 py-2 flex justify-center items-center text-slate-800 border-r border-slate-300"
  >
    {{ id }}
  </div>
  <div class="flex-grow pl-3">{{ name }}</div>
  <div class="pl-1 w-1/12">{{ age }}</div>
  <div class="pl-1 w-2/12">{{ phone }}</div>
  <div class="pl-1 w-3/12">{{ healthInsurance }}</div>
  <div class="px-3 w-1/12 h-full bg-slate-600 text-slate-50 py-2">
    <button>Detalhes</button>
  </div>
</div>
