<app-accordion
  [headerTitle]="queries.length + ' Consultas'"
  headerIcon="ionDocuments"
  iconSize="lg"
  [bordered]="true"
>
  <app-accordion *ngFor="let query of queries">
    <div customHeader class="flex gap-2">
      <button [routerLink]="['/consultas', query.id]">
        <ng-icon name="ionCreateOutline" class="text-lg" />
      </button>
      <p customHeader class="font-semibold">
        {{ query.consultationDate }} {{ query.consultationTime }}
        <span class="font-medium"> - {{ query.reasonForConsultation }}</span>
      </p>
    </div>
    <div class="p-2 font-semibold rounded-md bg-slate-600 text-slate-50">
      <p>
        Dosagem e precauções:
        <span class="font-medium">{{ query.dosageAndRecautions }}</span>
      </p>
      <p>
        Descrição:
        <span class="font-medium">{{ query.problemDescription }}</span>
      </p>
      <p *ngIf="query.medicaments" class="flex flex-col">
        Medicamentos:
        <span *ngFor="let medicament of query.medicaments" class="font-medium">
          <button [routerLink]="['/medicamentos', medicament.id]">
            <ng-icon name="ionCreateOutline" />
          </button>
          {{ medicament.name }}
        </span>
      </p>
    </div>
  </app-accordion>
</app-accordion>
