<div>
  <button class="flex items-center" (click)="this.visible = !this.visible">
    <ng-icon
      [name]="visible ? 'ionChevronUp' : 'ionChevronDown'"
      class="text-lg hover:text-slate-500"
    />
  </button>
  <div
    *ngIf="visible"
    class="absolute w-2/12 bg-slate-50 bottom-0 right-0 mr-1 translate-y-[calc(100%+4px)] border rounded-md py-1 shadow-lg text-sm z-10"
  >
    <ul>
      <li>
        <a
          class="flex px-4 py-2 font-medium rounded-md cursor-pointer text-slate-800 hover:bg-slate-100"
          >Perfil</a
        >
      </li>
      <li>
        <a
          (click)="returnLogin()"
          class="flex px-4 py-2 font-medium rounded-md cursor-pointer text-slate-800 hover:bg-gray-100"
          >Sair</a
        >
      </li>
    </ul>
  </div>
</div>
