<div class="p-4 flex flex-col items-center gap-4 bg-white rounded-lg shadow-[0_4px_4px_rgba(0,0,0,0.25)]">
  <div class="p-2 text-center">
    <h1 class="font-bold text-2xl leading-8 text-slate-800">
      Bem vindo
    </h1>

    <p class="mt-2 text-xs leading-4 text-slate-500">
      Entre suas credenciais para acessar trocar sua senha.
    </p>
  </div>

  <form
    class="w-88 p-3 flex flex-col gap-4"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    [ngSwitch]="currentStep"
  >
    <ng-container *ngSwitchCase="'email'">
      <div class="flex flex-col">
        <div class="relative flex items-center text-slate-800">
          <ng-icon
            name="ionMail"
            class="absolute ml-4 w-5 h-5 pointer-event-none"
          />

          <input
            type="text"
            id="email"
            name="email"
            class="w-full pr-2 pl-11 py-4 placeholder-slate-500 border border-solid border-slate-300 rounded-lg"
            placeholder="E-mail"
            aria-label="E-mail inserir"
            formControlName="email"
          />
        </div>

        <div
          class="text-red-500 font-semibold"
          *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.errors"
        >
          <small
            *ngIf="resetPasswordForm.get('email')?.errors?.['required']"
          >
            Por favor, insira seu e-mail!
          </small>

          <small
            *ngIf="resetPasswordForm.get('email')?.errors?.['email']"
          >
            Por favor, insira um e-mail válido!
          </small>
        </div>
      </div>

      <button
        type="button"
        class="p-3 font-bold text-xs leading-4 text-slate-100 bg-slate-800 rounded-lg cursor-pointer"
        [disabled]="resetPasswordForm.get('email')?.invalid"
        [ngClass]="{
          'opaqueButton': resetPasswordForm.get('email')?.invalid,
          'cursor-pointer': resetPasswordForm.get('email')?.valid,
          'cursor-not-allowed': resetPasswordForm.get('email')?.invalid
        }"
        (click)="validateEmail()"
      >
        Próximo passo
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <div class="flex flex-col">
        <div class="relative flex items-center text-slate-800">
          <ng-icon
            name="ionLockClosed"
            class="absolute ml-4 w-5 h-5 pointer-event-none"
          />

          <input
            type="password"
            id="password"
            name="password"
            class="w-full pr-2 pl-11 py-4 placeholder-slate-500 border border-solid border-slate-300 rounded-lg"
            placeholder="Senha"
            aria-label="Senha inserir"
            formControlName="password"
          />
        </div>

        <div
          class="text-red-500 font-semibold"
          *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors"
        >
          <small
            *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
          >
            Por favor, insira sua senha!
          </small>

          <small
            *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
          >
            Por favor, a senha deve possuir no mínimo 6 caracteres!
          </small>
        </div>
      </div>

      <button
        type="submit"
        class="p-3 font-bold text-xs leading-4 text-slate-100 bg-slate-800 rounded-lg cursor-pointer"
        [disabled]="resetPasswordForm.get('password')?.invalid"
        [ngClass]="{
          'opaqueButton': resetPasswordForm.get('password')?.invalid,
          'cursor-pointer': resetPasswordForm.get('password')?.valid,
          'cursor-not-allowed': resetPasswordForm.get('password')?.invalid
        }"
      >
        Trocar senha
      </button>
    </ng-container>
  </form>

  <span class="text-xs leading-4 text-slate-500">
    Lembrou da senha?

    <strong
      class="text-slate-800 underline cursor-pointer"
      (click)="close()"
    >
      Clique aqui
    </strong>
  </span>
</div>
